.layout-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #313338;
  overflow: hidden;
}

.layout {
  display: flex;
  height: 100vh;
  background-color: #313338;
  color: var(--text);
}

.subsidebar-wrapper {
  display: flex;
  flex-direction: column;
  width: 240px;
  background-color: #2b2d31;
  border-right: 1px solid #1e1f22;
}

.layout-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #313338;
  color: var(--text);
  font-family: var(--font);
}
